/HangmanGUI/nbproject/private/
/HangmanGUI/build/
/HangmanCoded/nbproject/private/
/HangmanCoded/build/
/Library Sign In/nbproject/private/
/Library Sign In/build/
/GameTest/nbproject/private/
/GameTest/build/