/HangmanGUI/nbproject/private/
/HangmanGUI/build/
/HangmanCoded/nbproject/private/
/HangmanCoded/build/
/Library Sign In/nbproject/private/
/Library Sign In/build/
/GameTest/nbproject/private/
/GameTest/build/
/TextureMaker/nbproject/private/
/TextureMaker/build/
/Sudoku/nbproject/private/
/Sudoku/build/
/Some Project/nbproject/private/
/Some Project/build/
/Connect 4/nbproject/private/
/Connect 4/build/
/Connect 4 Coded/nbproject/private/
/Connect 4 Coded/build/